///import files

@import "_variebles"
@import "_mixins"
    
    
    
//Обычные свойства

*
    padding: 0
    margin: 0

body
    background: #fff

.block
    background: $bgColor
    height: 100px
    margin-bottom: 20px

.block:not(.first)
    background: $bgColor
    height: $heightBlock
    margin-bottom: 20px
    width: $blockWidht
    border: $border
    @include padd(20px 10px 50px 25px)

//Вложенность
#central_block
    padding: 30px


    ul //Вложенность
        list-style: none
        display: inline-block

    li //Вложенность
        float: left
        margin-right: 10px

        a //Вложенность
            @include font(green, bold)
            //color: #84b5f1
            
            //Псевдокласс для а
            &:hover
                color: $bg
            
            
    
    a //Вложенность
        @include font($bg , light)
        //color: $bg

a
    @include link(#000 , red , blue , green )
    